@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import "mixins";
//@import "tooltip.css";

$title-padding-v: 13rem;
$title-padding-h: 9rem;

#title {
  padding-top: $title-padding-v;
  padding-bottom: $title-padding-v;
  padding-left: $title-padding-h;
  @include under-width(1110px) {
    padding-top: $title-padding-v;
    padding-left: 6em;
  }
  @include under-width(960px) {
    padding-top: $title-padding-v;
    padding-left: 2em;
  }
  @include on-mobile {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 8rem;
  }

  #title-label {
    letter-spacing: 10px;
    margin-top: -20px;
  }

  #title-version {
    border-radius: 50px;

    @include on-mobile {
      border-radius: 16px;
    }

    #button-download {
      border-radius: 50px;
      background-color: #AD977A;
      border-width: 0;

      :hover {

      }

      @include on-mobile {
        border-radius: 16px;
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }

    #title-download-label {
      @include on-mobile {
        padding-left: 0!important;
      }
    }
  }

  .mockup-image {
    max-height: 32em;
    text-align: center;
    float: right;
    position: absolute;
    margin: 0;
    top: 12em;
    right: 2em;

    img {
      position: relative;
      height: 32em;
      object-fit: contain;

      @include on-mobile {
        height: auto;
        width: 340px;
        right: 0;
      }
    }

    @include under-width(1460px) {
      right: -8em;
    }
    @include under-width(1250px) {
      right: -10em;
    }
    @include under-width(1000px) {
      right: -15em;
    }
    @include on-mobile {
      max-height: 16em;
      position: static;
      float: none;
      margin: 8em auto 8em;
      top: 0;
      right: 0;
    }
  }

  #title-arrow {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    z-index: 2;
    display: inline-block;
    animation: float 3s ease-in-out infinite;

    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-20px);
      }
      100% {
        transform: translatey(0px);
      }
    }

    @include on-mobile {
      position: static;
      margin-top: 4em;
      margin-bottom: 6em;
      display: inline-block;
      animation: float 3s ease-in-out infinite;
    }

    img {
      width: 4em;
    }
  }
}